@use '../abstracts' as a;

header {
    background-color: a.$secondary-color;
    height: 100px;
    position: sticky;
    top:0;
}

header a {
    text-decoration: none;
    color: a.$body-text-color;
    font-family: a.$heading-font;
}

.logo-container {
    display: flex;
    justify-content: center;
    align-items: center; 
}

.flex-cont-header {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: end;
    justify-content: end;
}

.flex-header {
    padding: .125rem;
    text-align: center;
    margin-right: .625rem;
}

.logo-container a {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-top: 0rem;
    margin-left: 1.875rem;
}

.ul-navigation {
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style-type: none;
    margin: 1.875em 0em 1.25em 0em;
}

.ul-navigation-tablet {
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style-type: none;
    margin: 1.875em 0em 1.25em 0em;
    padding: 0;

}

.ul-navigation-tablet a {
    text-decoration: none;
    font-size: 15px;
    padding: .0625rem;
}

.ul-navigation a {
    text-decoration: none;
    font-size: 1.125em;
    padding: .625em;
}

.animation li {
    display: inline-block;
    position: relative;
    margin-right: 2.5em;
    border: 2px solid a.$secondary-color;
    padding: .625em;
    border-radius: 1.5625em;
    background-color: transparent;
}

.animation li::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    right: 0;
    bottom: 0;
    top: 0;
    left: 0;
    background-color: a.$secondary-color;
    border-radius: 1.5625em;
    transform-origin: bottom right;
    z-index: -1;
}

.animation li:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
    background-color: a.$secondary-color;
}

.animation-tablet li {
    display: inline-block;
    position: relative;
    padding: 0.625em;
    background-color: transparent;
}

.animation-tablet li::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    right: 0;
    bottom: 0;
    top: 0;
    left: 0;
    background-color: a.$primary-color;
    border-radius: 1.5625em;
    transform-origin: bottom right;
    z-index: -1;
}

.animation-tablet li:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
    background-color: a.$primary-color;
    color: a.$secondary-color;
}

// Mobile Menu
.hamburger {
    // position: relative;
    display: block;
    width: 35px;
    cursor: pointer;

    appearance: none;
    background: none;
    outline: none;
    border: none;
}

.hamburger .bar, .hamburger:after, .hamburger:before {
    content: '';
    position: relative;
    display: block;
    width: 100%;
    height: 5px;
    background-color: a.$body-text-color;
    margin: 0.375rem 0px;
    transition: 0.4s;
}

.hamburger.is-active:before {
    transform: rotate(-45deg) translate(-8px,6px);
    z-index: 100;
}

.hamburger.is-active:after {
    transform: rotate(45deg) translate(-9px,-8px);
    z-index: 100;
}

.hamburger.is-active .bar {
    opacity: 0;
}
.mobile-nav {
    position: fixed;
    // top: 7%;
    left: 100%;
    width: 100%;
    min-height: 100vh;
    display: block;
    // z-index: 98;
    background-color: a.$primary-color;
    padding-top: 7.5rem;
    transition: 0.4s;
}

.mobile-nav.is-active {
    left: 0;
    top: 0;
}

.mobile-nav a {
    display: block;
    width: 100%;
    max-width: 200px;
    margin: 0 auto 1rem;
    text-align: center;
    padding: .75rem 1rem;

    color: a.$body-text-color;
    text-decoration: none;
}

.mobile-nav a:hover {
    background-color: a.$secondary-color;
    color: a.$body-text-color;
}

i.fa-linkedin, i.fa-github-alt {
    font-size: 30px;
}