@use '../abstracts' as a;

* {
    margin: 0;
    padding: 0;
}
* {
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
    background-color: a.$body-text-color;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

