@use '../abstracts/variables' as v;

p {
    font-family: v.$body-font;
    margin-bottom: 20px;
    margin-top: 20px;
    line-height: 22px;
}

h1 {
    font-family: v.$heading-font;
    margin-top: 20px;
    margin-bottom: 20px;
}

a {
    text-decoration: none;
    color: v.$body-text-color;
    font-family: v.$body-font;
    font-size: 18px;
}


